.footer {

    flex-direction: column;
    background-color: #1c232e;
    height: 200px;
    width: 100%;
    color: white;
    padding-top: 20px;

}

.copyright p {
    display: flex;
    font-size: 15px;

    font-family: 'Roboto', sans-serif, Times;
    margin-top: 80px;
    padding-left: 20px;

}

.copyright {
    justify-content: baseline;
}

.containerInfo {
    display: flex;
}

.containerInfo a {
    display: flex;
    font-size: 30px;
    font-family: 'Roboto', sans-serif, Times;
    background-color: b;

}

.nameRight {
    display: flex;
    width: 80%;
    justify-content: end;

}

.nameRight a {
    display: flex;
    text-decoration: none;
    padding: 10px 30px 0 0;
    font-size: 20px;
    color: white;
    transition: all 0.5s;
    justify-items: center;
}

.nameRight a:hover {
    color: rgb(0, 201, 169);
    text-decoration: wavy;
    border-radius: 10px;
 

}

.nameLeft {
    display: flex;
    width: 20%;

}

.nameLeft a {
    display: flex;
    text-decoration: none;
    padding-left: 20px;
    color: white;
    font-family: 'Carter One', 'Times New Roman', Times, serif;

}

.nameLeft a:hover {
    color: rgb(0, 201, 169);

}

.iconFooter img {
    display: flex;
    height: 40px;
}

.iconFooter img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);

}