.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #1c232e;
  width: 100%;
  color: white;
  padding-top: 20px;
}

.copyright footer {
  display: flex;
  font-size: 15px;

  font-family: "Roboto", sans-serif, Times;
  margin-top: 80px;
  padding-left: 20px;
}

.copyright {
  justify-content: baseline;
}

.containerInfo {
  display: flex;
  align-items: center;
}

.containerInfo a {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif, Times;
  background-color: b;
}

.iconFooter {
  display: flex;
  width: 20%;
  justify-content: center;
}

.iconFooter img {
  display: flex;
  height: 60px;
  padding-bottom: 20px;
}

.nameLeft a:hover {
  color: rgb(252, 201, 133);
}

.iconFooter img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.nameLeft {
  display: flex;
  width: 80%;
}

.nameLeft a {
  display: flex;
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-family: "Rubik Mono One", "Times New Roman", Times, serif;
}

/* mobile */

@media (min-width: 280px) and (max-width: 821px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    background-color: #1c232e;
    height: 140px;
    color: white;
    padding-top: 20px;
    overflow-x: hidden;
  }

  .copyright footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 15px;
    font-family: "Roboto", sans-serif, Times;
    margin: 29px 0 0 0;
  }

  .copyright {
    display: flex;
    align-items: baseline;
    height: 30px;
    align-items: baseline;
    margin-bottom: 0px;
  }

  .containerInfo {
    display: flex;
  }

  .containerInfo a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif, Times;
    background-color: b;
  }

  .nameLeft {
    display: flex;
    width: 80%;
  }

  .nameLeft a {
    display: flex;
    text-decoration: none;
    padding-left: 20px;
    color: white;
    font-family: "Chivo Mono", "Times New Roman", Times, serif;
  }

  .nameLeft a:hover {
    color: rgb(252, 201, 133);
  }

  .iconFooter {
    display: flex;
    width: 20%;
    justify-content: center;
  }

  .iconFooter img {
    display: flex;
    height: 60px;
    padding-bottom: 20px;
  }

  .iconFooter img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
}
