.homePageAll {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

.infoMain h1 {
    padding: 30px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 130px;
    font-family: 'Carter One', 'Times New Roman', Times, serif;
}

.infoMain span {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: 'Carter One', 'Times New Roman', Times, serif;
    color: red;
}

.infoMain p {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 0 0 40px;
    font-size: 15px;
    font-family: 'Chivo Mono', 'Times New Roman', Times, serif;
    max-width: 40%;    
}

.infoMain {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../../Assets/Images/backgroundMain.gif');
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat-x;
    background-position: top right, center;
    background-size: cover;
}

.buttonInitial {
    display: flex;
    align-items: baseline;
    padding: 30px 0 0 30px;
}

.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}

.cube {
    position: relative;
    transition: all 0.5s;
}

.cube .bg-top {
    position: absolute;
    height: 10px;
    background-color: black;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
}

.cube .bg-top .bg-inner {
    bottom: 0;
}

.cube .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: black;
    transition: all 0.4s;
}

.cube .bg-right {
    position: absolute;
    background-color: black;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
}

.cube .bg-right .bg-inner {
    left: 0;
}

.cube .bg-inner {
    background-color: red;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.cube .text {
    position: relative;
    transition: all 0.4s;
    color: black;
}

.cube:hover .bg-inner {
    background: #d4af37;
    transition: all 0.4s;
}

.cube:hover .text {
    color: #28282d;
    transition: all 0.4s;
}

.cube:hover .bg-right,
.cube:hover .bg,
.cube:hover .bg-top {
    background: #28282d;
}

.cube:active {
    z-index: 9999;
    animation: bounce .1s linear;
}

@keyframes bounce {
    50% {
        transform: scale(0.9);
        background-color: red;
    }
}