.register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.registerData {
    min-height: 100vh;
    padding-right: 30px;
    background: url('../../Assets/Icon/ashGiff.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat-x;
    background-position: top right, center;
    background-size: cover;
}

.formLocation {
    height: 100vh;
    width: 100%;
    background-color: red;
    position: absolute;
    background: url('../../Assets/Images/RegisterBackground.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat-x;
    background-position: top right, center;
    background-size: cover;
}


.registerDone {
    display: flex;
    justify-content: center;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 50px 0 0 30px;
}

.registerDone img {
    height: 60px;
    border-radius: 50%;
}

.registerDone p {
    font-size: 30px;
    color: rgb(252, 201, 65);
    margin-right: 20px;
}