










/* USANDO INHERIT E INITIAL
.pai {
width: 400px;
height: 400px;
background-color: gray;}

.pai span {
display: inline-block;
width: inherit; /*inherit herda o valor da div pai*/
/* height: inherit; inherit herda o valor da div pai */
/* background-color: initial; initial usa o valor inicial do elemento (navegador) */
/* } */



/* USANDO OVERFLOW [BARRA DE ROLAGEM] */
/* .pai {  */
/* width: 300px; */
/* height: 200px; */
/*altura maior faz chamar a barra de rolagem horizontal usando o overflow-x:auto;*/
/* margin: 0 auto; */
/* background-color: red; */
/* overflow: auto; */
/*barra de rolagem vertical} */
/* overflow-x: auto; */
/* } */

/* barra de rolagem horizontal */

/* .pai p { */
/* width: 500px; */
/*largura maior faz chamar a barra de rolagem horizontal usando o overflow-x:auto;*/
/* display: block;
} */



/* USANDO FLOAT */
/* .pai {

    width: 1280px;
    padding: 20px 0;
    margin: 0 auto;
    background-color: blue;
}

.filha {
    box-sizing: border-box;
    float: left; chamar uma outra classe para usar (clear:both; caso use float)
    width: 640px;
    height: 300px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    padding: 50px 0;

}

.clearFloat {

    clear: both; /* clear:both deve ser chamada se usar float */
/* } */















/* MIN width */
/* .header {
    width: 100%;
    height: 200px;
    min-width: 700px;
    background-color: gray;
}

.article {
    margin: 0 auto;
    margin-top: 1000px;
    width: 100%;
    height: 700px;
    background-color: red;
} */



/* CRIANDO LISTA */
/* .lista {
    list-style-position: inside;
    background-color: gray;
}

.lista li {
    list-style-type: circle;
    font-size: 20px;
    color: blue;
    margin-top: 10px;

}

.lista .item3 {
    list-style-type: circle;
    font-size: 20px;
    color: red;
    margin-top: 10px;

}



 */


/* CRIANDO TÍTULO E ARTIGO DO SITE
.artigo {
    width: 100%; //faz a largura se adaptar ao tamanho do dispositivo ou navegador//
    margin: 40px auto;
    text-align: center;
}

.artigo h1 {
    color: blue;
    font-size: 40px;
    font-family: arial, serif,"Times New Roman";
    font-style: italic;
}
.artigo p {
    color: #b4b4b4;
    font-size: 18px;
    font-family: serif,"Times New Roman", arial;
    font-style: italic;
    margin-top: 20px;
    background-color: gray;
}


                    CRIANDO MENU DO SITE
/* .menu {
    width: 900px;
    margin: 30px auto;
    text-align: center;
    background-color: blue;

}

.menu a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    background-color: yellow;
    color: red;
    border: 4px solid red;

} */