.cardPokemon {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    background-color: black;
}

.cardHome {
    padding: 10px;
}

.cardsPokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.buttonNextAndPrevious {
    background-color: red;
    display: flex;
    justify-content: center;
}