.cardModel {
  height: 100vh;
  display: flex;
}

.image img {
  max-width: 250px;
  min-width: 250px;
  max-height: 170px;
  min-height: 170px;
  display: flex;
  align-content: center;
  margin-bottom: 10px;  
}

.weight, .height, .power {
  display: flex;
}

.id {
  width: 100%;
  font-family: 'Carter One', Times, serif;
  font-size: 18px;
  display: flex;
  color: white;
  padding: 0 20px;
}

.nameCard {
  font-family: 'Seymour One', sans-serif;
  background-color:rgb(11,74,77);
  color: white;
  border-radius: 50px;
}

.positionNameCard {
  width: 100%;
}