.cardModel {
  height: 100vh;
  display: flex;
}

.image img {
  max-width: 250px;
  min-width: 250px;
  max-height: 170px;
  min-height: 170px;
  display: flex;
  align-content: center;
  margin-bottom: 10px;
  background-color: rgb(11, 74, 77);
  ;
}

.weight, .height, .power {
  display: flex;
}

.id {
  width: 100%;
  font-family: 'Carter One', Times, serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: rgb(11, 74, 77);
  padding: 20px 0 0 20px;
}

.nameCard {
  font-family: 'Seymour One', sans-serif;
  font-size: 25px;
  background-color: rgb(11, 74, 77);
  color: white;
  border-radius: 50px;
}

.positionNameCard {
  width: 100%;
}

.height {
  color: black;
  font-size: 17px;
  background-color: greenyellow;
}

.weight {
  color: black;
  font-size: 17px;
  background-color: lightskyblue;
}

.power {
  color: black;
  font-size: 17px;
  background-color: red;
}

.type {
  color: rgb(11, 74, 77);
  font-size: 30px;
}

.icon {
display: flex;
flex-direction: column;
  height: 40px;
  min-height: 40px;
  margin-bottom: 10px;
}